body {
  background-color: white;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

/* Buttons */
button {
  margin: 5px;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}

#resetButton {
  display: none;
}

/* Page sections */
#outerWrapper {
  width: 100%;
  height: 100%;
}
#innerWrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#mainTable {
  height: 100%;
}
#buttonDiv, #randomizeDiv, #navigationDiv {
  text-align: center;
  padding-top: 2em;
}
#titleDiv {
  color: blue;
}
iframe {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
}

/* Show/hide */
button.show {
  display: inline-block;
}
button.hide {
  display: none;
}
